<html><head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />


	</head>


	<body class="landing">			

		<!-- Banner -->
			<section id="banner">
				<h2>Technologie sieci WEB</h2>
				<p>Wydział elektrotechniki i informatyki</p>
				<ul class="actions">
					<li><a href="#one" class="button big special">Zobacz więcej</a></li>
				</ul>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1">
				<div class="inner">
					<article class="feature left">
						<span class="image"><%= image_tag( "img1.jpg", :alt => "" )%></span>
						<div class="content">
							<h2>Technologia WEB</h2>
							<p>Web jest powszechnie używanym skrótem dla ogólnoświatowej sieci World Wide Web (WWW). Podstawą technologii Web jest protokół HTTP służący do przesyłania dokumentów hipertekstowych.</p>
							<ul class="actions">
								<li>
									<a href="https://www.w3.org/" class="button alt">Czytaj dalej</a>
								</li>
							</ul>
						</div>
					</article>
					<article class="feature right">
						<span class="image"><%= image_tag( "img2.jpg", :alt => "" )%></span>
						<div class="content">
							<h2>Technologia Java</h2>
							<p>Technologia Java to podstawa projektowania niemal każdego rodzaju aplikacji sieciowej — stanowi ogólnoświatowy standard wykorzystywany przy tworzeniu aplikacji dla urządzeń mobilnych, aplikacji wbudowywanych, gier, zawartości i treści internetowych oraz oprogramowania dla przedsiębiorstw. </p>
							<ul class="actions">
								<li>
									<a href="https://www.java.com/pl/about/" class="button alt">Czytaj dalej</a>
								</li>
							</ul>
						</div>
					</article>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper special">
				<div class="inner">
					<header class="major narrow">
						<h2>Podstawowe technologie</h2>
					</header>
					<div class="image-grid">
						<a href="https://www.w3.org/TR/xhtml1/" class="image"><%= image_tag( "xml.jpg", :alt => "" )%></a>
						<a href="https://www.w3.org/XML/" class="image"><%= image_tag( "xhtml.jpg", :alt => "" )%></a>
						<a href="https://www.w3schools.com/html/html5_intro.asp" class="image"><%= image_tag( "html.png", :alt => "" )%></a>
						<a href="https://www.w3.org/Style/CSS/" class="image"><%= image_tag( "css.png", :alt => "" )%></a>
						<a href="https://www.w3schools.com/jsref/default.asp" class="image"><%= image_tag( "js.png", :alt => "" )%></a>
					</div>
					<header class="major narrow">
						<h2>Języki programowania</h2>
					</header>
					<div class="image-grid">
						<a href="http://php.net/" class="image"><%= image_tag( "php.png", :alt => "" )%></a>
						<a href="https://www.java.com/en/" class="image"><%= image_tag( "java.png", :alt => "" )%></a>
						<a href="https://www.ruby-lang.org/pl/" class="image"><%= image_tag( "ruby.png", :alt => "" )%></a>
						<a href="https://www.python.org/" class="image"><%= image_tag( "python.png", :alt => "" )%></a>
						<a href="http://www.perl.org/" class="image"><%= image_tag( "perl.png", :alt => "" )%></a>
					</div>
					<!--<ul class="actions">
						<li><a href="#" class="button big alt">Tempus Aliquam</a></li>
					</ul>-->
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style3 special">
				<div class="inner">
					<header class="major narrow	">
						<h2>Warto przyjrzeć się bliżej</h2>
					</header>
					<article class="feature right">
						<span class="image"><%= image_tag( "img4..jpg", :alt => "" )%></span>
						<div class="content">
							<h2>Wybrane definicje</h2>
							<p>Czym się różni witryna webowa od aplikacji czy usługi webowej ?</p>
							<ul class="actions">
								<li>
									<a href="#" class="button alt">Czytaj dalej</a>
								</li>
							</ul>
						</div>
					</article>
					<article class="feature left">
						<span class="image"><%= image_tag( "ajax.png", :alt => "" )%></span>
						<div class="content">
							<h2>AJAX. Single Page Application (SPA)</h2>
							<p>Budowa nowoczesnych (SPA), interaktywnych aplikacji internetowych wymaga znajomości technologii AJAX !</p>
							<ul class="actions">
								<li>
									<a href="#" class="button alt">Czytaj dalej</a>
								</li>
							</ul>
						</div>
					</article>
					<article class="feature right">
						<span class="image"><%= image_tag( "javafx.jpg", :alt => "" )%></span>
						<div class="content">
							<h2>Technologia JAVA i JavaFX</h2>
							<p>Java - technologia rozwiązań nie tylko biznesowych i mobilnych</p>
							<ul class="actions">
								<li>
									<a href="#" class="button alt">Czytaj dalej</a>
								</li>
							</ul>
						</div>
					</article>
				</div>
			</section>


			
	</html>