<style type="text/css">
	p{
		margin: 2em 0 0;
	}
</style>

<% if !@project.errors.empty? %>
   <div class = "alert alert-error">
      
      <ul>
         <% @project.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>
      
   </div>
<% end %>

<div class = "well">
   <%= form_for @project, html: { multipart: true } do |f| %>
   
   	  <p>Przedmiot - WEB lub JAVA </p>
   	  <%= f.text_field :subject %>
      <p>Nazwa projektu</p>
      <%= f.text_field :name %>
      <p>Plik</p>
      <%= f.file_field :attachment %>
      <%= f.submit "Save" %>
   <% end %>
</div>